/*
    Quan Gip

    Some objectives for the new bootstrap style should be:

    Rounded borders should be square
    It should follow an actual color scheme
    Thinner borders
    Thinner margins
    Thinner padding
    Dark theme
*/

code {
    padding: 2px 4px;
    font-size: 90%;
    color: @code-color;
    background-color: @code-bg;
    border-radius: @border-radius-base;
}